#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;

  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid rgba(255, 255, 255, 0.18);
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-container img {
  width: 6rem;
}

.logo-container p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-primary);
}

.account-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.login,
.user {
  font-size: 1.2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  transition: background-color 0.2s ease-in-out;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.7rem;
}

.icon {
  width: 1.6rem;
}

.login:hover {
  background-color: var(--color-secondary);
}

.register,
.manage-booking {
  background-color: var(--color-white);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  transition: background-color 0.4s ease-in-out;
  color: #333;
  font-size: 1rem;
}

.register:hover,
.manage-booking:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
}

.account-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logout-button {
  cursor: pointer;
}
