.login-container {
  display: flex;
}
.login-form-group {
  margin-bottom: 2rem;
}
.login-left-section img {
  width: 800px;
  height: 100vh;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  object-fit: cover;
  position: sticky;
  top: 0;
  z-index: 100;
  left: 0;
}

.login-right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.login-right-section::-webkit-scrollbar {
  display: none;
}
.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.forgot-password {
  text-align: right;
}

.login-form-group {
  position: relative;
}

.login-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 24px;
}

.login-input {
  width: 20rem;
  height: 2.4rem;
  padding: 1rem 1rem 1rem 2.5rem;
}

.login-button {
  width: 20rem;
  height: 2.4rem;
  margin-top: 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.create-account {
  text-align: center;
}

.login-logo {
  align-self: center;
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}
